{% extends 'layouts/default.html' %}

{% block intro %}
	<div class="ui center aligned header">
		<h1 class="ui icon header">
			<i class="comment icon"></i>
			<div class="content">Contact Us</div>
		</h1>
	</div>
{% endblock %}

{% block content %}
	<script src='https://www.google.com/recaptcha/api.js?render=6LdbaXkUAAAAAN8tATysXHZxgwNitR7sisPZhFyz'></script>
	<div class="main container">
		<div class="ui form segment">
		{% if enquirySubmitted %}
			<h3>Thanks for getting in touch.</h3>
		{% else %}
			<form id="contact-form" method="post">
				<input type="hidden" name="action" value="contact">

				{% set class = ( "error" if validationErrors.name else "" ) %}
				<div class="required field {{ class }}">
						<label for="enquiryName">Name</label>
						<input id="enquiryName" type="text" name="name.full" value="{{ formData["name.full"] }}">
				</div>

				<div class="two fields">
					{% set class = ( "error" if validationErrors.email else "" ) %}
					<div class="required field {{ class }}">
						<label for="enquiryEmail">Email</label>
						<input id="enquiryEmail" type="email" name="email" value="{{ formData.email }}">
					</div>
					<div class="field">
						<label for="enqueryPhone">Phone</label>
						<input id="enquiryPhone" type="text" name="phone" value="{{ formData.phone }}" placeholder="(optional)">
					</div>
				</div>

				{% set class = ( "error" if validationErrors.enquiryType else "" ) %}
				<div class="field {{ class }}">
					<label for="enquiryType">What are you contacting us about?</label>
					<select id="enquiryType" name="enquiryType" class="ui dropdown">
						{% for type in enquiryTypes %}
							{% set selected = ( 'selected="selected"' if formData.enquiryType == type.value else "" ) %}
							<option value="{{type.value}}" {{ selected }}>{{ type.label }}</option>
						{% endfor %}
					</select>
				</div>

				{% set class = ( "error" if validationErrors.message else "" ) %}
				<div class="required field {{ class }}">
					<label for="enquiryMessage">Message</label>
					<textarea id="enquiryMessage" name="message" placeholder="Leave us a message..." rows="4">{{ formData.message }}</textarea>
				</div>

				<div class="field">
					<button class="ui submit button" type="submit">Send</button>
				</div>
			</form>
		{% endif %}
	</div>
	</div>
{% endblock %}

{% block js %}
<script>
	var hasSubmitted = false;
	var submitForm = $('#contact-form');
	$('.ui.dropdown').dropdown();
	grecaptcha.ready(function() {
		// Validate captcha token before sending back to the server
		submitForm.submit(function(event) {
			if (hasSubmitted) {
				return true;
			}
			
			event.preventDefault();
			grecaptcha.execute('6LdbaXkUAAAAAN8tATysXHZxgwNitR7sisPZhFyz', {
				action: 'contact'
			}).then(function(token) {
				var input = $("<input>")
						.attr("type", "hidden")
						.attr("name", "recaptcha").val(token);
				submitForm.append(input);
				// Calling .submit fires off this event listener again. Put a flag in here so that it doesn't loop infinitly
				hasSubmitted = true;
				submitForm.submit();
			});
		});
});
		

</script>
{% endblock %}
