<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ title|default("JavaScript NZ") }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.min.css?v=1" rel="stylesheet">
	</head>
	<body style="overflow: hidden">
		<iframe style="width:100%; height: 100%;" src="https://docs.google.com/forms/d/e/1FAIpQLScyqRYV_km29aRm3-SpyR3Zfk8wGG56Ieshp_uCDu_YND8pyw/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
	</body>
</html>


