{% extends "templates/layouts/default.html" %}

{% block content %}
	<div class="container">
		<h2>Hi. And Welcome.</h2>

		<p>The JavaScript Society of New Zealand is a non profit organisation set up to grow the JavaScript community within New Zealand. This includes running conferences and meet ups, and also providing help to those learning and using our favourite little programming language.</p>

		<p>We're active on the <a href="http://slack.javascript.org.nz/">JavaScript NZ Slack channel</a> and welcome you to come join the conversation. If you would like to support the society then you can <a href="/join">become a member</a> for a small yearly fee.</p>

		<h2>Recent events</h2>
		<div class="ui grid">
			<div class="six wide column">
				<a href="http://conference.javascript.org.nz/">
					<img src="/images/nzjscon.png" class="jsconImage" />
				</a>
			</div>
			<div class="ten wide column">
				<p><strong>nz.js(con);</strong> is New Zealand's first dedicated national JavaScript conference and was held on March 9th & 10th, 2017 at Shed 6 in Wellington. If you want to watch the recorded talks you can <a href="https://www.youtube.com/playlist?list=PLE58b5NgENKm3h5r2R17Q4ypZIGjDI4nl">find them up on YouTube</a>.</p>
			</div>
		</div>
	</div>
{% endblock %}
