{% extends "templates/layouts/default.html" %}

{% block content %}
	<div class="container">
		<h2>Hi. And Welcome.</h2>

		<p>The JavaScript Society of New Zealand is a non profit organisation set up to grow the JavaScript community within New Zealand. This includes running conferences and meet ups, and also providing help to those learning and using our favourite little programming language.</p>

		<p>We're active on the <a href="https://javascriptnewzealand.slack.com">JavaScript NZ Slack channel</a> and welcome you to come join the conversation. If you would like to support the society then you can <a href="/join">become a member</a> for a small yearly fee.</p>

		<h2>Upcoming events</h2>
		<div class="ui grid">
			<div class="six wide column">
				<a href="http://conference.javasncript.org.nz/">
					<img src="/images/nzjscon.png" class="jsconImage" />
				</a>
			</div>
			<div class="ten wide column">
				<p><strong>nz.js(con);</strong> New Zealand's first dedicated national JavaScript conference will be held on March 9th & 10th, 2017 at Shed 6 in Wellington. It has an open call for papers, a low cost of entry, and will have a broad variety of JavaScript related topics. If you want to know more you can find all the info you need on <a href="http://conference.javascript.org.nz">the nz.js(con); website</a></p>
			</div>
		</div>
	</div>
{% endblock %}
