{% extends "templates/layouts/default.html" %}

{% block intro %}
	<div class="ui center aligned header">
		<h1 class="ui icon header">
			<i class="users icon"></i>
			<div class="content">Become a Member</div>
		</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="main container">
		{% if joinSubmitted %}
			<div class="ui form segment">
				<h3>Thanks for your support! We'll be in touch soon.</h3>
			</div>
		{% else %}
			<p>In order to help pursure our goals of supporting and promoting JavaScript across New Zealand, we ask for a small yearly membership. If you're a student and are a bit strapped for cash then we have a reduced fee.</p>
			<p>We don't want a membership fee to exclude anyone; if paying this fee would be unduely difficult for you, please <a href="/contact">contact us</a>.</p>
			<form method="post" class="ui form segment">
				<input type="hidden" name="action" value="join">

				{% set class = ( "error" if validationErrors.name else "" ) %}
				<div class="required field {{ class }}">
					<label for="joinName">Name</label>
					<input id="joinName" type="text" name="name" value="{{ formData["name"] }}">
				</div>

				{% set class = ( "error" if validationErrors.email else "" ) %}
				<div class="required field {{ class }}">
						<label for="joinEmail">Email</label>
						<input id="joinEmail" type="email" name="email" value="{{ formData["email"] }}">
				</div>

				<div class="field">
					<label>Membership type</label>
					<select id="joinMembershipType" name="membershipType" class="ui dropdown">
						<option value="regular">Regular membership ($25/year)</option>
						<option value="student">Student membership ($10/year)</option>
					</select>
				</div>

				{% set class = ( "error" if validationErrors.agreeRules else "" ) %}
				{% set checked = ( "checked" if formData["agreeRules"] else "" ) %}
				<div class="field {{ class }}">
					<div class="ui toggle checkbox">

						<input id="joinRules" type="checkbox" name="agreeRules" {{ checked }}>
						<label>I agree</label>
					</div>
					<span class="supplementary-label">to the <a href="/rules">JavaScript NZ Rules</a></span>
				</div>

				{% set class = ( "error" if validationErrors.agreeConduct else "" ) %}
				{% set checked = ( "checked" if formData["agreeConduct"] else "" ) %}
				<div class="field {{ class }}">
					<div class="ui toggle checkbox">
						<input id="joinConduct" type="checkbox" name="agreeConduct" {{ checked }}>
						<label>I agree</label>
					</div>
					<span class="supplementary-label">to the <a href="/conduct">JavaScript NZ Code of Conduct</a></span>
				</div>

				<div class="field">
					<button class="ui green button" type="submit">Become a Member</button>
				</div>
			</form>
		{% endif %}
	</div>
{% endblock %}

{% block js %}
	<script>$('.ui.dropdown').dropdown(); $('.ui.checkbox').checkbox();</script>
{% endblock %}
