{% extends "templates/layouts/default.html" %}

{% block intro %}
	<div class="ui center aligned header">
		<h1 class="ui icon header">
			<i class="book icon"></i>
			<div class="content">Society Rules</div>
		</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="ui grid">
		<div class="row">
			<div class="four wide column">
				<div id="toc" class="ui vertical accordion fluid menu">
					{% for heading in rules.toc %}
						<div class="item">
							<div class="title">
								{{ heading.text }}
							</div>
							{% if heading.children.length %}
								<div class="content menu">
									{% for child in heading.children %}
										<a class="item" href="#{{ child.id }}">{{ child.text }}</a>
									{% endfor %}
								</div>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="twelve wide column">
				<div id="rules">
					{{ rules.content }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script>$('.ui.accordion').accordion()</script>
{% endblock %}

{% block css %}
	<style>
		#toc {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		#rules li li {
			list-style-type: decimal;
		}

		#rules li li {
			list-style-type: lower-roman;
		}

		#rules li li li {
			list-style-type: lower-latin;
		}
	</style>
{% endblock %}