{% import "templates/mixins/flash-messages.html" as FM %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ title|default("JavaScript NZ") }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

		<link href="/styles/site.min.css" rel="stylesheet">

		<script src="//use.typekit.net/gmn8ehf.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>

		<script src="/js/lib/jquery/jquery-2.1.1.min.js"></script>
		<script src="/semantic-ui/definitions/javascript/semantic.min.js"></script>

		{# This file provides the default styling for the KeystoneJS Content Editor #}
		{% if user and user.canAccessKeystone %}
			<link href="/keystone/styles/content/editor.min.css" rel="stylesheet">
		{% endif %}

		{# Include template-specific stylesheets by extending the css block #}
		{% block css %}{% endblock %}

		{# Add any other template-specific HEAD tags by extending the head block #}
		{% block head %}{% endblock %}
	</head>
	<body class="menu">
		<nav role="navigation" id="nav" class="ui fixed menu link green inverted">
			<div class="left menu">
				<a href="/" class="item" style="padding: 0; margin: 0;">
					<img src="/images/logo-48.png">
				</a>
				{% for link in navLinks %}
					<div class="{{ 'active' if link.key == section else '' }} item">
						<a href="{{ link.href }}">{{ link.label }}</a>
					</div>
				{% endfor %}
			</div>
			<div class="right menu">
				{% if user %}
					{% if user.canAccessKeystone %}
					<div class="item">
						<a href="/keystone">
							Admin
						</a>
					</div
					{% endif %}
					<div class="item">
						<a href="/keystone/signout">
							<i class="sign out icon"></i>
							Sign Out
						</a>
					</div>
					{% else %}
					<div class="item">
						<a href="/keystone/signin">
							<i class="sign in icon"></i>
							Sign In
						</a>
					</div>
					<div class="item">
						<a href="/join">
							<i class="users icon"></i>
							Become a Member
						</a>
					</div>
				{% endif %}
			</div>
		</nav>

		<header class="hero tk-lobster">
			<div class="hero-brand">
				<span class="hero-prefix">JavaScript</span>
				<span class="hero-center">NZ</span>
				<span class="hero-postfix">Inc.</span>
			</div>
			<div class="hero-blurb">
				Promoting JavaScript in New Zealand
			</div>
		</header>

		{# BODY #}
		<div id="body" class="page">
			{# NOTE:
			   There is no .container wrapping class around body blocks to allow more flexibility in design.
			   Remember to include it in your templates when you override the intro and content blocks! #}

			{# The Intro block appears above flash messages (used for temporary information display) #}
			{% block intro %}{% endblock %}


			{% if messages %}
					{# Flash messages allow you to display once-off status messages to users, e.g. form
			   		 validation errors, success messages, etc. #}
				  {{ FM.flashMessages(messages) }}
			{% endif %}

			{# The content block should contain the body of your template"s content #}
			{% block content %}{% endblock %}
		</div>


		{# FOOTER #}
		<footer id="footer" class="footer">
		</footer>

		{# The KeystoneJS Content Editor provides support for ks-editable data attributes,
			which generate links to edit content for users who can access Keystone #}
		{% if user and user.canAccessKeystone %}
			<script src="/keystone/js/content/editor.js"></script>
		{% endif %}

		{# Add scripts that are globally required by your site here. #}

		{# Include template-specific javascript files by extending the js block #}
		{% block js %}{% endblock %}
	</body>
</html>
