{% import "templates/mixins/flash-messages.html" as FM %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ title|default("JavaScript NZ") }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

		<link href="/styles/site.min.css" rel="stylesheet">

		<script src="/js/lib/jquery/jquery-2.1.1.min.js"></script>
		<script src="/semantic-ui/definitions/javascript/semantic.min.js"></script>

		{# This file provides the default styling for the KeystoneJS Content Editor #}
		{% if user and user.canAccessKeystone %}
			<link href="/keystone/styles/content/editor.min.css" rel="stylesheet">
		{% endif %}

		{# Include template-specific stylesheets by extending the css block #}
		{% block css %}{% endblock %}

		{# Add any other template-specific HEAD tags by extending the head block #}
		{% block head %}{% endblock %}
	</head>
	<body class="menu">
		<div id="nav-backer"></div>

		<nav role="navigation" id="nav" class="ui fixed menu link green inverted">
			<div class="left menu">
				<a href="/" class="item" style="padding: 0; margin: 0;">
					<img src="/images/logo-48.png" alt="Home" title="Home">
				</a>
				{% if not maintenance.show %}
					{% for link in navLinks %}
						<a class="{{ 'active' if link.key == section else '' }} item"
						   href="{{ link.href }}">
							{{ link.label }}
						</a>
					{% endfor %}
				{% endif %}
			</div>
			<div class="right menu">
				{% if maintenance.enabled and maintenance.canBypass %}
					<div class="item maintenance">
						<i class="wait icon"></i>
						Maintainence
					</div>
				{% endif %}
				{% if user.canAccessKeystone %}
					<a class="item" href="/keystone">
						<i class="settings icon"></i>
						Admin
					</a>
				{% endif %}
				{% if user %}
					<a class="item" href="/keystone/signout">
						<i class="sign out icon"></i>
						Sign Out
					</a>
				{% else %}
					{% if not maintenance.show %}
						<a class="item" href="/join">
							<i class="users icon"></i>
							Become a Member
						</a>
					{% endif %}
				{% endif %}
			</div>
		</nav>

		<header class="hero tk-lobster">
			<div class="hero-brand">
				<img class="hero-logo" src="images/logo-inverted.png" />
			</div>
			<div class="hero-blurb">
				Promoting JavaScript in New Zealand
			</div>
		</header>

		<div id="body" class="page">
			{% block intro %}{% endblock %}

			{% if messages %}
					{# Flash messages allow you to display once-off status messages to users, e.g. form
			   		 validation errors, success messages, etc. #}
				  {{ FM.flashMessages(messages) }}
			{% endif %}

			{% block content %}{% endblock %}
		</div>


		{% include "templates/includes/footer.html" %}

		{% if user and user.canAccessKeystone %}
			<script src="/keystone/js/content/editor.js"></script>
		{% endif %}


		{% block js %}{% endblock %}
	</body>
</html>
