{% extends "templates/layouts/default.html" %}

{% block intro %}
	<div class="ui center aligned header">
		<h1 class="ui icon header">
			<i class="users icon"></i>
			<div class="content">Become a Member</div>
		</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="main container">
		{% if subscriptionSuccessful %}
			<div class="ui form segment">
				<h3>Thanks for your support!</h3>
				<p>Your annual subscription was successful. You'll receive a confirmation email shortly.</p>
			</div>
		{% else %}
			<script src="https://js.stripe.com/v3/"></script>
			<div class="container">
				<p>You've chosen to supprt the society via the {{ newUser.membershipType }} plan. Once you enter your credit card details below you'll be charged annually.</p>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
						<form class="ui form segment" method="post" id="payment-form">
							<input type="hidden" name="action" value="subscribe">
							<input type="hidden" name="userId" value="{{ newUser._id }}">
							<div class="form-row field required">
								<label for="card-element">
									Credit or debit card
								</label>
								<div id="card-element">
									<!-- a Stripe Element will be inserted here. -->
								</div>

								<!-- Used to display Element errors -->
								<div id="card-errors"></div>
							</div>

							<div class="field">
								<button class="ui green button" type="submit">Become a Member</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<script>
				var stripe = Stripe('pk_test_pKr8dO7B71fCVu6SZAGmdx5E'); // TODO - put in env variable or something
				var elements = stripe.elements();

				// Custom styling can be passed to options when creating an Element.
				var style = {
					base: {
						// Add your base input styles here. For example:
						margin: '0',
						outline: '0',
						'-webkit-appearance': 'none',
						'line-height': '1.2',
						padding: '.7em 1em',
						'font-size': '1em',
						background: '#fff',
						border: '1px solid rgba(39,41,43,.15)',
						color: 'rgba(0,0,0,.8)',
						'border-radius': '.2857rem',
						'box-shadow': '0 0 transparent inset'
					}
				};

				// Create an instance of the card Element
				var card = elements.create('card', {style: style});

				// Add an instance of the card Element into the `card-element` <div>
				card.mount('#card-element');

				var form = document.getElementById('payment-form');
				form.addEventListener('submit', function(event) {
					event.preventDefault();

					stripe.createToken(card).then(function(result) {
						if (result.error) {
							// Inform the user if there was an error
							var errorElement = document.getElementById('card-errors');
							errorElement.textContent = result.error.message;
						} else {
							// Send the token to your server
							stripeTokenHandler(result.token);
						}
					});
				});

				function stripeTokenHandler(token) {
					// Insert the token ID into the form so it gets submitted to the server
					var form = document.getElementById('payment-form');
					var hiddenInput = document.createElement('input');
					hiddenInput.setAttribute('type', 'hidden');
					hiddenInput.setAttribute('name', 'stripeToken');
					hiddenInput.setAttribute('value', token.id);
					form.appendChild(hiddenInput);

					// Submit the form
					form.submit();
				}
			</script>

		{% endif %}
	</div>
{% endblock %}
