<footer id="footer">
	Copyright © 2017 JavaScript NZ Incorporated. {% if not user %}<a class="item" href="/keystone/signin">Admin Sign In</a>{% endif %}
	<br>
	Header image based on “<a href="https://www.flickr.com/photos/jeffpang/5642694348/">Rotura</a>” by <a href="https://www.flickr.com/photos/jeffpang/">Jeff P</a> / <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>.
	<br>
	Powered by <a href="http://keystonejs.com/">KeystoneJS</a>. Source available on <a href="https://github.com/JavaScript-NZ/javascript.org.nz">GitHub</a>.
</footer>
