extends layouts/base

block content
	h1 Hi #{user.name},

	p Thanks for all your support towards the JavaScript Society of New Zealand. We're sad to see you go but appreciate the support you've provided

	p We have cancelled your annual subscription. If you decide that you would like to start your subscription up again at a later date then you can do so by
	a(href='http://javascript.org.nz/account/subscribe?userId=#{user.)id}') visiting our resubscribe page.

	p &nbsp;

	p Regards,
	p The JavaScript Society of New Zealand committee


