// Semantic UI
// ===========

@import "../semantic-ui/definitions/css/semantic.min.css";

// Site Styles
// ===========

.jsconImage {
	padding-top: 15px;
	width: 100%;
}

// Awards

.awardIcon {
	text-align: center!important; // Urgh, semantic and it's deep selectors
}

.awardIcon a {
	color: rgba(0,0,0,.8);
}

.awardIcon i {
	font-size: 4em;
	padding-top: 20px;
}

.nomination {
	border-bottom: 1px solid rgba(0,0,0,0.1);
	display: flex;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.nominationTitle {
	margin: 0 0 10px;
}

.nominationImage {
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 2px;
	flex-shrink: 0;
	height: 80px;
	width: 80px;
	margin-right: 20px;
}

.nominationDetails {
	flex-grow: 1;
}

@media(max-width: 767px) {
	.ui.stackable.grid>.column.awardNominations {
		// Semantic UI is the worst
		padding: 0!important;
	}
}


// Add your own site style includes here
@import "site/layout.less";
